<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/images/desklogo.png" rel="apple-touch-icon" />
    <link href="/images/desklogo.png" rel="apple-touch-icon" sizes="72x72" />
    <title>番茄官网</title>
    <!--<link rel="shortcut icon" href="img/logo.ico">-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/fq-index.css?v=0304">
    <script type="text/javascript" src="js/lottie.min.js"></script>
    <script type="text/javascript" src="images/load.json"></script>
</head>
<body ontouchend="" ontouchstart="">
<div class="mcont">
    <div class="loadtoast hide" style="background: rgba(0,0,0,.8);border-radius: 1rem;color: #fff;padding: .5rem;font-size: 1rem;
            line-height: 1.5;
            position: fixed;
            z-index: 11000;
            width: auto;
            left: 50%;
            margin-top: 0;
            top: 50%;
            text-align: center;
            border-radius: .5rem;
            -webkit-transform: translate3d(0,0,0) scale(1.185);
            transform: translate3d(0,0,0) scale(1.185);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%)">
        <div id="lottie"></div>
        下载连接中，请稍后...
    </div>
    <div class="container c1">
        <div class="content">
            <div class="iphone_img">

            </div>

            <div class="right">
                <div class="logodis">
                    <img class="logo_img" src="./images/logo.png" alt="lululogo"><div class="logotxt">番茄社区</div>
                </div>
                <div class="download_content" style="position: relative">
                    <a class="btn pop ios3" href="javascript:;" data-clipboard-target='#bar2'><i class="icon ios"></i>iPhone下载<i class="icon shiliang"></i></a>
                    <a class="btn pop android3" href="javascript:;" data-clipboard-target='#bar2'><i class="icon android"></i>Android下载<i class="icon shiliang"></i></a>
                    <textarea id="bar2" readonly="readonly" style="position: absolute; bottom: 0; left: -9rem;  opacity: 0;width: 100px;height:200px;z-index: 999 "></textarea>
                </div>
                <div class="tip"></div>
                <p class="mrt30 font1 txtl">*免费安装APP若无法更新版本，请先卸载重新安装</p>
                <p class="font1 txtl">*
                    <span class="wenzi">使用前请先收藏</span>
                    <span style="letter-spacing:0">「番茄社区」最新发布地址:</span>
                    <a class="dizhi" id="dizhilink" style="color:#ff2d73;text-decoration: underline;letter-spacing:0"></a>
                </p>
            </div>
        </div>
        <div class="sky"></div>
    </div>

    <div class="ground_img"></div>
    <div class="container c2">
	<span class="content">
		<h2 class="main_title"><div class="huangshu"></div><div class="anzhuangtxt">安装教学</div><div class="xuxian"></div></h2>
		<div class="QandA">
			<div>
				<span>Q</span>
				<span>
                    <p class="qu">iOS如何安装？</p>
                    <p class="ans">1.App下载完成后，请开启「设置」>点选「通用」</p>
                    <p class="ans">2.点选「设备管理」或「描述档」或「描述档与装置管理」</p>
                    <p class="ans">3.点入「企业级应用」的选项</p>
                    <p class="ans">4.按下「Genesistechnoweb」描述文件</p>
                    <p class="ans">5.按下「信任」App即完成设置</p>
                    <p class="ans">6.点击开启「番茄社区」App</p>
                </span>
			</div>
		</div>
        <!--<div class="line"></div>-->
		<div class="QandA btm0">
			<div>
				<span>Q</span>
				<span>
                        <p class="qu">Android如何安装？</p>
                        <p class="ans">1.下载前请先至「设置」→「安全性」</p>
                        <p class="ans">2.开启「不明的来源」，并执行「确定」</p>
					    <p class="ans">3.点击「下载按钮」或扫描QR Code下载tomato apk并同意安装即可 </p>
                    </span>
			</div>
		</div>
		<div class="img_content">
			<div>
				<img src="images/tuoyuan1.png" alt="image">
				<span>兴趣爱好</span>
			</div>
			<div>
				<img src="images/tuoyuan2.png" alt="image">
				<span>海量视频</span>
			</div>
			<div>
				<img src="images/tuoyuan3.png" alt="image">
				<span>美女直播</span>
			</div>
			<div>
				<img src="images/tuoyuan4.png" alt="image">
				<span>互动交友</span>
			</div>
		</div>
	</span>
    </div>
    <footer>
        <div class="footer">
            <textarea id="bar" readonly="readonly" style="position: absolute; bottom: 0; left: -8rem;  opacity: 0;width: 300px;height:2px;z-index: 999 ;"></textarea>
            <p ><span class="dibu1 dizhi dizhi2"></span><a class="dibu1 inviteHref" id="copyLink" data-clipboard-target='#bar'>复制</a></p>
            <p >本站提供最新网址，在使用前请先收藏本站地址 </p>
            <p >真人互动交友，值得您收藏！</p>
            <div class="shengming"><div></div></div>
            <div class="xieyitxt"><a class="a_userAgreement">《番茄社区用户协议》</a><a class="a_userDeclaration">&nbsp;&nbsp;《番茄社区隐私权保护声明》</a></div>
        </div>
    </footer>
</div>
<div class="xuanfu hide">
    <textarea id="bar3" readonly="readonly" style="position: absolute; bottom: 0; left: -8rem;  opacity: 0;width: 1px;height:2px;z-index: 999 "></textarea>
    <a class="xuanfubtn hide">保存地址到桌面，随时找到番茄</a>
    <a class="xuanfubtn2 inviteHref hide" id="copyLink2" data-clipboard-target='#bar3'>使用safari浏览器打开<span id="fromUrl"></span>，保存番茄至桌面</a>
</div>
<div class="fixed">
    <p>请使用手机安装程式</p>
    <div id="qrcode" style="background: #fff;padding: 10px;">

    </div>
    <div>安装提醒：</div>
    <div>1.IOS手机下载后请至「设定 > 一般 > 描述档或装置管理」中, 点击信任「企业级APP」</div>
    <div>2.Android手机下载前请先至「设定 > 安全性」中将「未知的来源」打勾</div>
    <div>3.请勿使用微信的QRcode扫码器</div>
</div>

<dl id="dialog" class="hide">
    <dt>
        <img class="btnDel" src="images/icon_del.png">
        <h3 class="notice-tit"></h3>
    </dt>
    <dd>
        <p class="notice-info"></p>
    </dd>
</dl>
<img class="btnTop hide" src="images/icon-top.png">
<img class="btnDown hide" src="images/icon-down.png">
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/clipboard.min.js"></script>
<script type="text/javascript" src="js/qrcode.min.js"></script>
<script type="text/javascript" src="js/fq-index.js?v=1010"></script>
<script>
    var params = {
        container: document.getElementById('lottie'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        animationData: animationData
    };

    var anim;

    anim = lottie.loadAnimation(params);

    // document.body.addEventListener('touchend', function(event)
    // {
    //         event.preventDefault();
    //         return false;
    // }, false);


</script>
<script>
    $(function ($) {
        var serverUrl='';//服务url
        var url = window.location.href;
        if(url.indexOf("192.168.0.102") != -1){
            serverUrl = "http://192.168.0.102:8888";
        }else if(url.indexOf("fanqie789") != -1){
            //预发布服务器url
            serverUrl = "http://www.fangqie666.com";
        }else{
            //生产服务器url
            serverUrl='https://start.5201.work';
        }
        var inviteCode = "";
        // 帖子id
        var id = "";
        var u = navigator.userAgent;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        var iosUrl = "";
        var androidUrl = "";
        var  hFullpage = 0;
        var channel = "";
        var accountNo = "";
        var appId = "";
        var fromUrl = "";
        function mobile() {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
                return true;
            }else {
                return false;
            }
        }
        if(!mobile()) {
            $('.pop').on('click', function(e) {
                e.preventDefault();
                $('.fixed').addClass('show');
            })
            $('.fixed').on('click', function(e) {
                $('.fixed').removeClass('show');
            })
        } else {

            if (isiOS && u.indexOf("Safari") > -1 && u.indexOf("GSA") < 0 && u.indexOf("CriOS") < 0) {
                $(".xuanfu").removeClass("hide");
                $(".xuanfubtn").removeClass("hide");
                $(".mcont").addClass("h90");
                $(".xuanfubtn").click(function(){
                    $.ajax({
                        type: 'get',
                        url: serverUrl+"/app/button/click",
                        success: function(data){

                        }
                    })
                    location.href = "fq.mobileconfig"
                })

            }else if(isiOS && u.indexOf("Safari") >-1 && u.indexOf("GSA") > -1){
                $(".xuanfu").removeClass("hide");
                $(".xuanfubtn2").removeClass("hide");
                $(".mcont").addClass("h90");
            }else if(isiOS && u.indexOf("Safari") >-1 && u.indexOf("CriOS") > -1){
                $(".xuanfu").removeClass("hide");
                $(".xuanfubtn2").removeClass("hide");
                $(".mcont").addClass("h90");
            }
            else if(isiOS && u.indexOf("Safari") <0){
                $(".xuanfu").removeClass("hide");
                $(".xuanfubtn2").removeClass("hide");
                $(".mcont").addClass("h90");
            }
            $('.btn').removeClass('pop');
            $(".wenzi").addClass("hide");
            $(".ios3").click(function(event){
                var clipboard=new Clipboard('.ios3');
                clipboard.on('success', function(e) {
                    $("#bar2").blur();
                });
                clipboard.on('error', function(e) {
                    $("#bar2").blur();
                });
                if (isiOS) {
                    $("html,body").animate({scrollTop:$('.c2').offset().top},200);
                    $(".loadtoast").removeClass("hide");
                    var t = setTimeout(function() {
                        $(".loadtoast").addClass("hide");
                        location.href = iosUrl;
                        clearTimeout(t);
                    },1500)
                }else if (isAndroid) {
                    $('body').dalutoast('您使用的是安卓手机,请下载Android版本');
                }else{
                    $('body').dalutoast('暂不支持此浏览器');
                }
            });

            $(".android3").click(function(event){
                var clipboard=new Clipboard('.android3');
                clipboard.on('success', function(e) {
                    $("#bar2").blur();
                });
                clipboard.on('error', function(e) {
                    $("#bar2").blur();
                });
                if (isAndroid) {
                    // $('.android3').attr('href', androidUrl);
                    $("html,body").animate({scrollTop:$('.c2').offset().top},200);
                    $(".loadtoast").removeClass("hide");
                    var t = setTimeout(function() {
                        $(".loadtoast").addClass("hide");
                        location.href = androidUrl;
                        clearTimeout(t);
                    },1500)
                }else if (isiOS) {
                    //$('.android3').attr('href', 'javascript:;');
                    $('body').dalutoast('您使用的是苹果手机,请下载Ios版本');
                }else{
                    $('body').dalutoast('暂不支持此浏览器');
                }

            });
        }

        $.fn.dalutoast = function(msg) {
            var $dalutoasthtml = $('<div class="dalutoast" style="background: rgba(0,0,0,.8);'+
                'border-radius: 1rem;'+
                'color: #fff;'+
                'padding: .5rem;'+
                'font-size: 1.2rem;'+
                'line-height: 1.5;'+
                'position: fixed;'+
                'z-index: 11000;'+
                'width: auto;'+
                'left: 50%;'+
                'margin-top: 0;'+
                'top: 50%;'+
                'text-align: center;'+
                'border-radius: .1rem;'+
                '-webkit-transform: translate3d(0,0,0) scale(1.185);'+
                'transform: translate3d(0,0,0) scale(1.185);'+
                '-webkit-transform: translateX(-50%);'+
                'transform: translateX(-50%)"'+
                '>' +
                msg + '</div>').appendTo(document.body);
            var t = setTimeout(function() {
                $(".dalutoast").remove();
                clearTimeout(t);
            },1500)
        };

        var qrcode= new QRCode(document.getElementById("qrcode"), {
            width: 100,
            height: 100
        });
        //滑动
        $(".mcont").scroll(function() {
            ScollPostion();  //滚动条位置
        });
        function ScollPostion(){
            var hBtn=$(".btn").offset().top+40;//下载btn距离顶部距离
            hFullpage = $(".mcont").scrollTop();//页面滚动距离
            if(hFullpage>hBtn){
                $('.btnTop,.btnDown').removeClass("hide")
            }else{
                $('.btnTop,.btnDown').addClass("hide")
            }
        };
        $('.btnTop,.btnDown').click(function(){
            $('.btnTop,.btnDown').addClass('hide');
            $(".mcont").animate({scrollTop:0},200);
        });
        function memberInviteLog() {
            $.ajax({
                type: 'post',
                url: serverUrl+"/app/version/memberInviteLog",
                data:{inviteCode:inviteCode},
                dataType: 'json',
                success: function(data){

                }
            })

            $.ajax({
                type: 'get',
                url: serverUrl+"/app/share/view?id="+id + "&inviteCode=" + inviteCode,
                success: function(data){

                }
            })
        }

        // function getApp() {
        // if(channel == "002" || channel == 2){
        // 	/*huanggua*/
        // 	iosUrl = "itms-services://?action=download-manifest&url=https://d.20rl.com/download/ios/002_002_cucumber_2.0.1.1.plist";
        // 	androidUrl = "https://d.20rl.com/download/android/002_cucumber_2.0.0.1.apk"
        // }else{
        // 	/*guanwang*/
        // 	androidUrl = "https://d.20rl.com/download/android/001_official_2.0.0.1.apk";
        // 	iosUrl = "itms-services://?action=download-manifest&url=https://d.20rl.com/download/ios/002_001_official_2.0.1.1.plist"
        // }
        // }
        function getApp() {
            var request = new XMLHttpRequest(); // 新建XMLHttpRequest对象
            // 发送请求:
            request.open('GET', serverUrl+"/app/version/new?appId="+appId+"&accountNo="+accountNo+"&channel="+channel);
            request.send();
            request.onreadystatechange = function () { // 状态发生变化时，函数被回调
                if (request.readyState === 4) { // 成功完成
                    // 判断响应结果:
                    if (request.status === 200) {
                        // 成功，通过responseText拿到响应的文本:
                        success(JSON.parse(request.responseText));
                    }
                }
            };
        }
        function success(res) {
            if(res.code == 0){
                if(res.version[0].channel == "001101"){
                    iosUrl = res.version[0].url;
                    androidUrl = res.version[1].url;
                }else{
                    androidUrl = res.version[0].url;
                    iosUrl = res.version[1].url;
                }
            }
        }


        function init() {
            var req = GetRequest();
            inviteCode = req["inviteCode"];
            id = req["id"];
            channel = req["channel"];
            accountNo = req["accountNo"];
            appId = req["appId"];
            if(inviteCode == undefined){
                inviteCode = "";
            }
            if(id == undefined){
                id = "";
            }
            if(channel == undefined){
                channel = "";
            }
            if(accountNo == undefined){
                accountNo = "";
            }
            if(appId == undefined){
                appId = "";
            }

            fromUrl = "https://ta5.app"
            $("#fromUrl").text(fromUrl);
            $("#bar2").val(inviteCode);
            $("#dizhilink").html(fromUrl);
            $(".dizhi2").html(fromUrl);
            document.querySelector("#dizhilink").addEventListener('touchend',function(event){
                event.preventDefault();
                window.location.href = fromUrl
            });
            $("#bar").val(fromUrl);
            $("#bar3").val(fromUrl);
            qrcode.makeCode(fromUrl);
            initClipboard();
            memberInviteLog();
            getApp();
        }

        function GetRequest() {
            var url = location.search; //获取url中"?"符后的字串
            var theRequest = new Object();
            if (url.indexOf("?") != -1) {
                var str = url.substr(1);
                strs = str.split("&");
                for(var i = 0; i < strs.length; i ++) {
                    theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        }

        //复制粘贴
        function initClipboard(){
            $("#copyLink,#copyLink2").click(function(event){
                var clipboard=new Clipboard('.inviteHref');
                clipboard.on('success', function(e) {
                    $('body').dalutoast('复制链接成功');
                    //$("html,body").animate({scrollTop:hFullpage},1);
                    $("#bar,#bar3").blur();
                });
                clipboard.on('error', function(e) {
                    $('body').dalutoast('亲，此浏览器不支持，请手动复制粘贴吧');
                });
            })
        }

        init();
    })
</script>
</body>
</html>
